#logo {
	height: 40px; 
}

.child-page {
	background: #E0E0E0;
}

#main-header {
	background: #fff;
}

#inquiry-form .card-header{
	padding: 0 !important;
}

#inquiry-form .card-header .nav-link {
	padding: 15px;
}