
#logo {
	height: 40px;
}

.child-page {
	background: #E0E0E0;
}

#main-header {
	background: #fff;
}

#inquiry-form .card-header{
	padding: 0 !important;
}

#inquiry-form .card-header .nav-link {
	padding: 15px;
}

#order-wrapper {
	position: fixed;
	width: 40%;
	left:100px;
	top: 250px;
	text-align: center;
}

@media only screen and (min-width: 400px) {

}

@media only screen and (min-width: 500px) {

}

@media only screen and (min-width: 550px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 650px) {

}

@media only screen and (min-width: 750px) {

}

@media only screen and (min-width: 900px) {

}
@media only screen and (min-width: 950px) {

}
